.managercategories_table{
    width: 95%;
    text-align: center;
    background-color: #222;
}

.managercategories_th{
    background-color: #1276c7;
    padding-top: 4px;
    padding-bottom: 4px;
}

.managercategories_td{
    background-color: #68AFE9;
    padding-top: 3px;
    padding-bottom: 3px;
}

.managercategories_a{
    text-decoration: none;
    color: rgb(170, 0, 0);
}

.managercategories_a:hover{
    color: red;
}

.img-nano{
    height: 90px;
    margin-bottom: 14px;
}