.shopping_img{
    height: 86px;
    max-width: 94%;
}

.maincarrito_relative{
    position: relative;
}

.maincarrito_article{
    display: flex;
    justify-content: space-between;
    height: 95px;
    width: 65%;
    background-color: #ccc;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgb(95, 95, 95), 0px 0px 3px rgb(95, 95, 95);
    margin-bottom: 12px;
}

.maincarrito_div1{
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincarrito_div2{
    height: 100%;
    width: 80%;

}

.maincarrito_name{
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin-top: 5px;
}

.maincarrito_price{
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 16px;
}

.maincarrito_cant{
    position: relative;
    bottom: 46px;
    left: 62%;
    width: 37%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main_buy{
    box-shadow: 0px -1px 2px rgb(182, 182, 182), 0px -2px 3px #ccc;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 4px 0px;
    text-align: center;
}

.main_buy-all{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 2px;
}

.main_buy-a{
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 30px;
    text-decoration: none;
    width: 185px;
    text-align: center;
}

.maincarrito_section{
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bt{
    margin-bottom: 20px;
}

.button-empty{
    margin-top: 20px;
}

.maincarrito_empty{
    border: 1px solid gray;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 1px 5px;
    margin-top: 30px;
    transition: 0.5s background, color;
}

.maincarrito_empty:hover{
    background-color: #222;
    color: white;
}

.maincarrito_form-number{
    width: 34px;
    margin-right: 4px;
}

.maincarrito_form-button{
    margin-top: 6px;
    border: 1px solid gray;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 1px 5px;
    transition: 0.5s background, color;
    background-color: #ccc;
    font-size: 16px;
}